# Ignore everything in the root file except the "wp-content" directory.
/*
!.gitignore
!DesktopModules/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
DesktopModules/*
!DesktopModules/vlee/
!DesktopModules/vlee/*